    <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">

                    <div class = "panel panel-info">

                        <div class = "panel-heading">
                            <h3 style = "text-align: center;">
                              <a class="navbar-brand2" href="#">
                                <h3>Project</h3>
                              </a>
                          </h3>

                            <div class="creations-filter">

                                <a href="#all" data-filter="*" class="current">All Projects</a>
                                <a href="#scratch" data-filter=".js">JS</a>
                                <a href="#games" data-filter=".php">Python</a>
                                <a href="#apps" data-filter=".html">HTML</a>
                                <a href="#other" data-filter=".css">CSS</a>

                            </div>
                        </div>

                        <div class = "panel-body center">

                         <div class="creations-container">

                            <div class="col-md-4 css">
                                <img src="http://placehold.it/440x250&text=C to the C to the S" alt="image">
                            </div> 

                            <div class="col-md-4 html">
                                <img src="http://placehold.it/440x250&text=le HTML" alt="image">
                            </div> 

                            <div class="col-md-4 js">
                                <img src="http://placehold.it/440x250&text=JS Scribing" alt="image">
                            </div> 

                            <div class="col-md-4 js">
                                <img src="http://placehold.it/440x250&text=Javascript God" alt="image">
                            </div> 

                            <div class="col-md-4 python">
                                <img src="http://placehold.it/440x250&text=Another Python Project" alt="image">
                            </div> 

                            <div class="col-md-4 python">
                                <img src="http://placehold.it/440x250&text=A Python Project" alt="image">
                            </div> 

                        </div>

                    </div>



                </div> <!-- END container div -->
                </div>
            </div>
    </section>