 <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">
                <head>      
                        <link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
                        <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
                </head> 
                <div id="navigator">
                            <ul id="nav">
                                <li class="nav_tab">
                                    <a href="#"><p>Home</p></a>
                                </li>
                                <li class="nav_tab">
                                    <a href="#"><p>Stuff</p></a>
                                </li>
                                <li class="nav_tab">
                                    <a href="#"><p>More Stuff</p></a>
                                </li>   
                                <li class="nav_tab">
                                    <a href="http://khushbuparakh.in"><p>My website</p></a>
                                </li>
                            </ul>
                        </div>
                        
                        <div class="menu-icon">         
                            <div class="line_one"></div>
                            <div class="line_two"></div>
                            <div class="line_three"></div>              
                        </div>
                        <p class="menu-text">Menu</p    
                </a> 
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#download">Projects</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#resume">Resume</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>