 <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <!-- <a class="navbar-brand page-scroll" href="#page-top"> -->
                <head>      
                        <link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
                        <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
                </head> 
            
                  <div id="navigator">
               
                            <!-- 
                            <!-- <li>
                                <img  alt="A photo of me " src="/img/head.png">
                            </li> -->
                            <ul id="nav">
                              <!--   <li>
                                  <a class="nav_tab" href="#about"><p>About</p></a>
                              </li>
                              <li>
                                  <a class="nav_tab" href="#download"><p>Projects</p></a>
                              </li>
                              <li>
                                  <a class="nav_tab" href="#contact"><p>Contact</p></a>
                              </li>  -->
                              <li class="nav_tab">
                                 <a href="http://blog.khushbuparakh.in/"><p>My Blog</p></a>
                                </li>   
                                <li class="nav_tab">
                                <a href="http://khushbuparakh.in"><p>My website</p></a>
                                </li>
                               <!--  <span class="sidebar-nav-item">Version 1.0</span> -->
                            </ul>
                        </div>
                        
                        <div class="menu-icon">         
                            <div class="line_one"></div>
                            <div class="line_two"></div>
                            <div class="line_three"></div>              
                        </div>   
                </a> 
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <ul class="nav navbar-nav">

                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="navbar" href="#about"><p>About</p></a>
                    </li>
                    <li>
                        <a class="navbar" href="#download"><p>Projects</p></a>
                    </li>
                    <li>
                        <a class="navbar" href="#contact"><p>Contact</p></a>
                    </li>
                    <!-- <li>
                        <img  alt="A photo of me " src="/img/head.png">
                    </li>

                   <!--  <ul class="nav navbar-nav">
                        <li>
                          <a class="nav_tab" href="#about"><p>About</p></a>
                      </li>
                      <li>
                          <a class="nav_tab" href="#download"><p>Projects</p></a>
                      </li>
                      <li>
                          <a class="nav_tab" href="#contact"><p>Contact</p></a>
                      </li> -->
                   </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>